.service-card{
    display: flex;
    gap: 50px;
}

.scard{
    text-align: center;
    border: 1px solid gray;
    border-radius: 20px;
    width: 20%;
    margin-left: 90px;
    margin-right: 50px;
    margin-top: 45px;
}

.scard-img img{
    border-radius: 50%;
    background-color:rgba(245, 221, 196, 1);
    padding: 10px;
    height: 30px;
    margin-top: 10px;
}

.shadow{
    box-shadow: 0 4px 8px rgb(158, 156, 156. 0.5);
}